*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
    --color-bg: #F5DEB3;
	  --color-text-blue: #191970;
    --color-text: #000000;
    --color-white: #FFFFFF;
    --font-text: ApercuRegular;
    --font-bold: ApercuBold;
    --font-mono: ApercuMono;
    background-color: var(--color-bg);
}

.content-parallax {
  /* padding: 0 0 0em; */
  padding: 5em 3em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.content-parallax:not(:first-child) {
  padding: 2em 0;
}

.content-input {
  overflow: hidden; 
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20vh;
}

.content-row {
    margin-top: 10vh;
}

.field {
  margin: 0 20px;
  display: inline-block;
}

input {
  width: 200px;
}

.home-container {
  /* margin: 30px 0; */
}

.white {
  color: var(--color-white) !important;
}

.episodes-left {
  padding: 100px 0px;
}

.episodes-right {
  padding: 100px 0px;
}

.instagram_feed {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 35px;
}

@font-face {
    font-family: ApercuRegular;
    src: url(../assets/fonts/apercu_regular_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: ApercuRegularItalic;
    src: url(../assets/fonts/apercu_regular_italic_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: ApercuMono;
    src: url(../assets/fonts/apercu_mono_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: ApercuMedium;
    src: url(../assets/fonts/apercu_medium_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: ApercuMediumItalic;
    src: url(../assets/fonts/apercu_medium_italic_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: ApercuBold;
    src: url(../assets/fonts/apercu_bold_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: ApercuBoldItalic;
    src: url(../assets/fonts/apercu_bold_italic_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: Florsn42;
    src: url(../assets/fonts/Florsn42.ttf);
    font-style: normal;
  }
  
  @font-face {
    font-family: Florsn41;
    src: url(../assets/fonts/Florsn41.ttf);
    font-style: normal;
  }

  /* WAVE */

  #wavebg canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .flexy-wave {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flexy--center-wave {
    justify-content: center;
  }
  
  .tiny-wave {
    font-size: 50%;
  }
  
  /* Content */
  .content-wave {
    position: relative;
    min-height: 100vh;
    padding: 15vh 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .content--highlight-wave {
    padding: 0;
    background: #191970;
    /* opacity: 0.5; */
  }
  
  
  .content__highlight-wave {
    font-size: 2.5em;
    font-weight: normal;
    position: relative;
    max-width: 70%;
    margin: 0;
    padding: 4vw;
    cursor: default;
    color: white;
  }
  
  #wavebg canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media screen and (max-width: 50em) {
    .content__highlight-wave {
      font-size: 1.75em;
      max-width: 100%;
      padding: 2em 3vw;
    }
    .content--highlight-wave {
      min-height: 0;
      padding: 2em;
    }
  }
  
  @media screen and (max-width: 40em) {
      #wavebg canvas {
        opacity: 0.65;
      }
  }
  
  
 .nav-btn-g {
   padding-top: 10px;
 }

  .subscribe-btn {
    width: 100%;
    padding: 10px 30px 10px 30px;
    background-color: var(--color-text-blue);
    color: var(--color-bg);
    font-family: ApercuBoldItalic;
    border-radius: 30px;
  }

  .subscribe-btn:hover {
    color: var(--color-bg);
  }

  .right-cont {
    margin-top: 10vh;
  }

  .right-img {
    position: absolute;
    left: 0;
    height: 100vh;
    top: 0;
    margin-top: -10vh;
    z-index: -500;
  }

  ul {
    margin-bottom: 0 !important;
  }

  .first-row {
    /* height: 100vh; */
  }

  .body-text {
      font-family: var(--font-text);
      color: var(--color-text-blue);
      font-size: 1.75rem;
      line-height: 1.75;
  }

  .home-blurb {
    margin: 5vh 18vh;
    font-family: var(--font-text);
    color: var(--color-text);
    font-size: 2rem;
    line-height: 1.75;
    text-align: left;
  }

  .home-lk {
    color: var(--color-text-blue);
  }

  .home-lk:hover {
    text-decoration: none;
    color: #4141E3;
  }

  .home-body {
    font-family: var(--font-text);
    color: var(--color-text);
    font-size: 2rem;
    line-height: 1.50;
    text-align: left;
    margin-top: 35px;
  }

  .home-txt-block {
    margin:  0 0 0 10vw;
  }

  .home-title {
    font-family: var(--font-bold);
    color: var(--color-text);
    text-align: left;
    font-size: 3.5vw;
    line-height: 0.7;
  }

  .about-img {
      width: 620px;
      margin: 0 auto;    
      display: block;
  }

  .title-text {
    font-family: var(--font-bold);
    color: var(--color-text-blue);
    font-size: 5rem;
    padding: 30px 0px;
  }

  .small-title {
    font-family: var(--font-mono);
    color: var(--color-text);
    font-size: 1.5rem;
    padding-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }

  .light-c {
    color: var(--color-white) !important;
    text-align: center;
  }

  .regular-btn {
    width: 150px;
    padding: 10px 0px;
    font-size: 2rem;
    background-color: var(--color-white);
    font-family: var(--font-text);
    color: var(--color-text-blue);
    border-radius: 1px;
    border-style: solid;
    border-color: var(--color-text-blue);
  }

  .btn-home {
    font-family: var(--font-text);
    width: 150px;
    font-size: 1.35rem;
    letter-spacing: 2.5px;
    border-radius: 0px;
    padding: 10px 0;
  }

  input {
    height: 40px;
  }

  .medium-title {
    font-family: var(--font-bold);
    color: var(--color-text);
    font-size: 3rem;
  }

  .body-large {
    font-family: var(--font-text);
    color: var(--color-text);
    font-size: 2.75rem;
    padding-top: 25vh;
  }

  .signup {
    background: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)),
    url("../assets/signup.jpeg");
    background-size: cover;
    padding: 40px;
  }

  .instagram_profile_image {
    width: 100px;
    border-radius: 100px;
  }

  .thick-line {
    color: var(--color-text-blue);
    height: 3px;
    width: 200px;
    background-color: var(--color-text-blue);
    vertical-align: middle;
    display: inline-block;
  }

  .inner-heading-text {
    font-family: var(--font-mono);
    font-size: 1.5rem;
    vertical-align: middle;
    display: inline-block;
    padding-left: 5px;
  }

  .inner-heading {
      width: 300px;
  }

  .about-content {
    margin-left: 10vw;
  }

  .nav-logo {
    float: left;
    position: absolute;
    width: 50px;
    left: 100px;
  }

  .selected {
    font-weight: bold;
    text-decoration: underline;
  }

  footer {
    padding: 3rem 0 2rem 0;
    background-color: var(--color-text-blue);
    margin-top: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-column:not(:first-child) {
    padding-top: 2rem;
  }

  @media (min-width: 768px) {
    .footer-column:not(:first-child) {
      padding-top: 0rem;
    }
  }
  
  .footer-column {
    text-align: center;
  }

  .footer-column .nav-item .nav-link {
    padding: 0.1rem 0;
  }

  .footer-column .nav-item span.footer-title {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-white);
    text-transform: uppercase;
  }

  .footer-column .nav-item .fas {
    margin-right: 0.5rem;
  }

  .footer-column ul {
    display: inline-block;
  }

  @media (min-width: 768px) {
    .footer-column ul {
      text-align: left;
    }
  }
  
  ul.social-buttons {
    margin-bottom: 0;
  }
  
  ul.social-buttons li a:focus,
  ul.social-buttons li a:hover {
    background-color: var(--color-white);
  }
  
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: var(--color-text-blue);
    border-radius: 100%;
    outline: 0;
    background-color: var(--color-white);
  }
  
  footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
  }
  
  .copyright {
    color: var(--color-white);
  }
  
  .fa-ellipsis-h {
    color: var(--color-white);
    padding: 2rem 0;
  }

@media only screen and (max-width: 40em) {
    .home-blurb {
      margin: 5vh 7vh 0 0;
      width: 200px;
      font-size: 1.5rem;
      line-height: 1.65;
    }
    .right-img {
      /* height: 100vh; */
      width: 100;
      opacity: 0.3;
      z-index: -500;
    }
    .right-cont {
      margin-top: 0vh !important;
    }
    .about-img {
        width: 75vw;
        padding: 40px 0px;
    }

    .content-row {
        margin-top: 4vh;
    }

    .about-content {
        margin-left: 5vw;
        margin-right: 5vw;
      }

    .title-text {
        font-size: 5rem;
        padding: 30px 0px;
        line-height: 1.2em;
    }
 }