body {
    --color-bg: #F5DEB3;
	  --color-text-blue: #191970;
    --color-text: #000000;
    --font-text: ApercuRegular;
    --font-bold: ApercuBold;
    --font-mono: ApercuMono;
    background-color: var(--color-bg);
}

.content-row {
    margin-top: 10vh;
}

@font-face {
    font-family: ApercuRegular;
    src: url(../assets/fonts/apercu_regular_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: ApercuRegularItalic;
    src: url(../assets/fonts/apercu_regular_italic_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: ApercuMono;
    src: url(../assets/fonts/apercu_mono_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: ApercuMedium;
    src: url(../assets/fonts/apercu_medium_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: ApercuMediumItalic;
    src: url(../assets/fonts/apercu_medium_italic_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: ApercuBold;
    src: url(../assets/fonts/apercu_bold_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: ApercuBoldItalic;
    src: url(../assets/fonts/apercu_bold_italic_pro.otf);
    font-style: normal;
  }
  
  @font-face {
    font-family: Florsn42;
    src: url(../assets/fonts/Florsn42.ttf);
    font-style: normal;
  }
  
  @font-face {
    font-family: Florsn41;
    src: url(../assets/fonts/Florsn41.ttf);
    font-style: normal;
  }
  
 .nav-btn-g {
   padding-top: 10px;
 }

  .subscribe-btn {
    width: 100%;
    padding: 10px 30px 10px 30px;
    background-color: var(--color-text-blue);
    color: var(--color-bg);
    font-family: ApercuBoldItalic;
    border-radius: 30px;
  }

  .subscribe-btn:hover {
    color: var(--color-bg);
  }

  ul {
    margin-bottom: 0 !important;
  }

  .mainmenu-btns {
    height: 50px;
  }

  .body-text {
      font-family: var(--font-text);
      color: var(--color-text-blue);
      font-size: 1.75rem;
      line-height: 1.75;
  }

  .about-img {
      width: 450px;
      margin: 0 auto;    
      display: block;
  }

  .title-text {
    font-family: var(--font-bold);
    color: var(--color-text-blue);
    font-size: 5rem;
    padding: 30px 0px;
  }

  .thick-line {
    color: var(--color-text-blue);
    height: 3px;
    width: 200px;
    background-color: var(--color-text-blue);
    vertical-align: middle;
    display: inline-block;
  }

  .inner-heading-text {
    font-family: var(--font-mono);
    font-size: 1.5rem;
    vertical-align: middle;
    display: inline-block;
    padding-left: 5px;
  }

  .inner-heading {
      width: 300px;
  }

  .about-content {
    margin-left: 10vw;
  }

  .nav-logo {
    float: left;
    position: absolute;
    width: 50px;
    left: 100px;
  }

  .selected {
    font-weight: bold;
    text-decoration: underline;
  }

  footer {
    padding: 3rem 0 2rem 0;
    background-color: var(--color-text-blue);
    margin-top: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-column:not(:first-child) {
    padding-top: 2rem;
  }

  @media (min-width: 768px) {
    .footer-column:not(:first-child) {
      padding-top: 0rem;
    }
  }
  
  .footer-column {
    text-align: center;
  }

  .footer-column .nav-item .nav-link {
    padding: 0.1rem 0;
  }

  .footer-column .nav-item span.footer-title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }

  .footer-column .nav-item .fas {
    margin-right: 0.5rem;
  }

  .footer-column ul {
    display: inline-block;
  }

  @media (min-width: 768px) {
    .footer-column ul {
      text-align: left;
    }
  }
  
  ul.social-buttons {
    margin-bottom: 0;
  }
  
  ul.social-buttons li a:focus,
  ul.social-buttons li a:hover {
    background-color: #FFFFFF;
  }
  
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: var(--color-text-blue);
    border-radius: 100%;
    outline: 0;
    background-color: #FFFFFF;
  }
  
  footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
  }
  
  .copyright {
    color: white;
  }
  
  .fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
  }

  
@media only screen and (max-width: 40em) {
    .about-img {
        width: 75vw;
        padding: 40px 0px;
    }

    .content-row {
        margin-top: 4vh;
    }

    .about-content {
        margin-left: 5vw;
        margin-right: 5vw;
      }

    .title-text {
        font-size: 5rem;
        padding: 30px 0px;
        line-height: 1.2em;
    }
 }